<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <style>
        /* Estilo adicional */
        .btn-border {
            border: 2px solid #2196F3;
        }
    </style>
</head>

<body>
    <a href="javascript:void(0);" class="waves-effect btn btn-border" (click)="crearcabana()">
        <i class="material-icons left">add</i> Crear Cabaña
    </a>

    <table class="default" *ngIf="cabanas !== undefined && cabanas.length > 0">
      <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Ubicacion</th>
          <th>Precio por noche</th>
          <th>Capacidad</th>
      </tr>
        <tr *ngFor="let cabana of cabanas |
        paginate: {
          itemsPerPage: pageSize,
          currentPage: p };let i=index">
            <td>{{ cabana.Nombre }}</td>
            <td>{{ cabana.Descripcion }}</td>
            <td>{{ cabana.Ubicacion }}</td>
            <td>{{ cabana.PrecioPorNoche }}</td>
            <td>{{ cabana.Capacidad }}</td>
            <td>
              <td><a href="javascript: void(0);" class="space" (click)="actualizarCabana(cabana.ID_Cabana)">
                <i class="material-icons">edit</i></a></td>
                <td><a href="javascript: void(0);" class="material-icons"
                  (click)="eliminarCabana(cabana.ID_Cabana)" style="color: red;">
                  <i class="material-icons">delete_forever</i></a></td>
        </tr>
    </table>
    <div class="blue-text text-darken-2">
      <pagination-controls class="col s6" (pageChange)="p = ($event)"
      previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
<div id="modalModificarCabana" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Actualizar cabana</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_usuario">Nombre </label>
          <input id="nombre_cabana" [(ngModel)]="cabana.Nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">ID Cabana </label>
          <input [(ngModel)]="cabana.ID_Cabana" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Descripcion </label>
          <input [(ngModel)]="cabana.Descripcion" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <label class="active">PrecioPorNoche </label>
            <input [(ngModel)]="cabana.PrecioPorNoche" type="text" class="validate">
          </div>
          <div class="input-field col s6">
            <label class="active">Capacidad </label>
            <input [(ngModel)]="cabana.Capacidad" type="text" class="validate">
          </div>
         <!--<div class="input-field col s6">
            <label class="active">Ubicacion </label>
            <input [(ngModel)]="cabana.Ubicacion" type="text" class="validate">
          </div>-->
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="guardarActualizarCabana()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalCrearCabana" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Crear Cabana</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="nombre_usuario">Nombre </label>
          <input id="nombre_usuario" [(ngModel)]="cabanaNueva.Nombre" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <label class="active">Descripcion </label>
            <input [(ngModel)]="cabanaNueva.Descripcion" type="text" class="validate">
          </div>
          <div class="input-field col s6">
              <label class="active">PrecioPorNoche </label>
              <input [(ngModel)]="cabanaNueva.PrecioPorNoche" type="text" class="validate">
            </div>
            <div class="input-field col s6">
              <label class="active">Capacidad </label>
              <input [(ngModel)]="cabanaNueva.Capacidad" type="text" class="validate">
            </div>
            <!--<div class="input-field col s6">
              <label class="active">Ubicacion </label>
              <input [(ngModel)]="cabanaNueva.Ubicacion" type="text" class="validate">
            </div>-->
      </div>
      <div class="row">
        <div class="col s6 center">
          <input type="submit" class="waves-effect btn-large brown lighten-3 modal-close"
            (click)="guardarNuevaCabana()" value="Enviar">
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3
  black-text">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
