<!DOCTYPE html>
<html>
<head>
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h3>Restablecer Contraseña</h3>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="new-password" type="password" class="validate">
                        <label for="new-password">Nueva Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="confirm-password" type="password" class="validate">
                        <label for="confirm-password">Confirmar Contraseña</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Restablecer
                    <i class="material-icons right">lock_open</i>
                </button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
