

<nav class="custom-nav">
  <!-- Añade la clase personalizada -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <div class="nav-wrapper">
    <a class="brand-logo">
      <img src="https://i.imgur.com/Xrn81hA.png" alt="Logo">
    </a>
    <li class="center-text"> <a class="nav-text">Balneario
        Atonaltzin</a>
    </li>
    <ul id="nav-mobile" class="right hide-one-med-and-down">
      <li><a id="user-icon"  class="btn blue lighten-2" (click)="logout()"><i
            class="material-icons">exit_to_app</i></a></li>
    </ul>
  </div>
</nav>
